.span12
  %p
    %strong
      The full Kepler field has been imaged by Spitzer at 3.6 and 4.5 microns, and the extracted photometry matched to the Kepler Input Catalog (KIC). This site provides access to the new Spitzer measurements along with all the data from the KIC, as well as UKIRT J, for both the KOIs (Kepler Objects of Interest) and KOBs (Kepler OBjects).

.span6
  .card.koi
    %h2
      KOIs
    = image_tag "KOIs_tn.jpg", :class => "left"
    .clear
    = link_to kois_path, :class => "btn btn-large btn-inverse" do
      Query & Plot KOI Data
      %i.icon.icon-arrow-right

.span6
  .card.kob
    %h2
      KOBs
    = image_tag "KOBs_tn.jpg", :class => "left"
    .clear
    = link_to kobs_path, :class => "btn btn-large btn-inverse" do
      Query & Plot KOB Data
      %i.icon.icon-arrow-right