.span12
  %h3
    Homepage
.span6
  .well
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.span6
  .well
    %p
      Edit this text in app/views/home_page/get.html.haml
.plot
  .span12
    #flot
  :javascript
    var d1 = [];
    for (var i = 0; i < 14; i += 0.5) {
      d1.push([i, Math.sin(i)]);
    }
    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
    var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
    
    var plot = $.plot($("#flot"), [d1, d2, d3], {
      series: {
          lines: { show: true },
          points: { show: true, fill: 1, fillColor: false }
      },
      xaxis: {
      },
      yaxis: {
      },
      grid: {
        hoverable: true,
        clickable: true
      },
      legend: {
      }
    });
