.span4
  = form_tag admin_uploads_path, :method => :post, :multipart => true do
    %label
      Upload Kepler Stellar Catalog CSV File
    = file_field_tag :myfile

    %br

    %button.btn.btn-primary{:type => "submit"}
      Upload
