body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 30px;
}

.plot {
  .axis {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    &.y_axis {
      float: left;
      width: 30px;
      height: 400px;
      label {
        transform: rotate(-90deg);
        transform-origin: center;
        line-height: 400px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &.x_axis {
      margin-bottom :10px;
    }
  }
  #flot {
    float: left;
    width: 910px;
    height: 400px;
    margin-bottom: 5px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

weak, .weak {
  font-weight: 100;
}

strong, .strong {
  font-weight: 700;
}

.header {
  background-color: #333;
  margin-bottom: 20px;
  .site_title {
    a {
      text-decoration: none;
      h1 {
        color: #fff;
        font-size: 42px;
        line-height: 68px;
        margin: 0;
        weak {
          margin-left: 20px;
          font-size: 32px;
          color: #888;
        }
        span {
          color: #bbb;
        }
      }
    }
  }
  .section_title {
    color: #fff;
    font-size: 32px;
    line-height: 72px;
    text-align: right;
    font-weight: 300;
  }
}

.footer {
  margin-top: 30px;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  @include border-radius(6px);
  h2 {
    position: absolute;
    margin-left: 20px;
  }
  a {
    width: 189px;
  }
  img {
    margin-top: 5px;
  }
  .btn-large {
    &.left {
      @include border-radius(0 0 0 6px)
    }
    &.right {
      @include border-radius(0 0 6px 0)
    }
  }
}

.column_names {
  position: relative;
  dl {
    margin-top: 0;
    position: absolute;
    left: -150px;
    width: 150px;
    text-align: right;
    dd {
      display: inline-block;
      background-color: #eee;
      padding: 0px 3px;
      @include border-radius(3px);
      margin: 3px;
    }
  }
}

.click_data {
  background-color: #eee;
  @include border-radius(3px);
  padding: 10px 0;
  text-align: center;
}

#flot {
  background-color: #eee;
  @include border-radius(3px);
  margin-bottom: 10px;
}

.column_data {
  min-height: 45px;
}

.plot_image {
  text-align: center;
  img {
    max-height: 201px;
  }
  .caption {
    font-weight: 700;
  }
}

.table_data {
  th {
    text-align: right;
  }
}
